<div id="layout">
    <div style="margin:0px 5px 5px 0px;" id="markdownName">
        <input type="text" name="markdownName" class="markdown-name">.md
    </div>
    <div id="markdownEditor">
        <textarea style="display:none;" id="markdownContent" name="markdownContent"></textarea>
    </div>
    <button type="submit" class="btn btn-info btn-save col-md-offset-3 col-md-6">保存
    </button>
    <!--<form action="markdown/doAddMarkdown" method="post">
    </form>-->
</div>
<script type="text/javascript">
    var testEditor;
    $(function () {
        doInitState();
        testEditor = editormd("markdownEditor", {
            //开启emoji（默认关闭）
            emoji : true,
            width : "100%",
            height : 500,
            syncScrolling : "single",
            path : "bower_components/editormd/lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "markdown/doImageUploadFile",
        });
        $("#layout").on("click", ".btn-save", doSaveOrUpdateMarkdown);
        $("#markdownEditor").on("click", ".editormd-preview-close-btn", doCancel);
    });
    function doInitState() {
        var fileName = $("#mainContentId").data("fileName");
        if(fileName){
            if (fileName != "README") {
                $(".markdown-name").val(fileName);
            }else{
                $("#markdownName").css("display","none");
            }
            $("#markdownName").find("input").val(fileName);
            var markdownContent = $("#mainContentId").data("markdownContent");
            $("#markdownContent").val(markdownContent);
        }
    }
    function doSaveOrUpdateMarkdown() {
        var fileName = $(".markdown-name").val();
        var markdownContent = $("#markdownContent").val();
        var params = {
            fileName : fileName,
            markdownContent : markdownContent
        }
        var markdownId = $("#mainContentId").data("markdownId");
        var url;
        if(markdownId){
            url = "markdown/doUpdateMarkdown";
            var oldFileName = $("#mainContentId").data("fileName");
            params.markdownId = markdownId;
            params.oldFileName = oldFileName;
        }else{
            url = "markdown/doAddMarkdown";
        }
        $.post(url, params, function (result) {
            if (result.state == 1) {
                alert(result.message);
                doCancel();
            } else {
                alert(result.message);
            }
        });

    }
    function doCancel() {
        var fileName = $(".markdown-name").val();
        if(fileName != "README"){
            $("#mainContentId").load("markdown/doMarkdownListUI", function () {
                $("#mainContentId").removeData();
            });
        }else{
            $("#mainContentId").removeData();
            window.location.href = "doIndexUI";
        }
    }
    //console.log();
    //alert();
    //debugger;
</script>