<!-- Horizontal Form -->
<div class="box box-info text-left">
    <div class="box-header with-border">
        <h3 class="box-title">指南编辑</h3>
    </div>
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="menu-type-id" class="col-sm-2 control-label">类型：</label>
                <div class="col-sm-10 typeRadio">
                    <label class="radio-inline">
                        <input type="radio" name="typeId" value="1" onclick="doChangePage(1)" checked>菜单</label>
                    <label class="radio-inline">
                        <input type="radio" name="typeId" value="2" onclick="doChangePage(2)">文档</label>
                </div>
            </div>
            <div class="form-group">
                <label for="menu-name-id" class="col-sm-2 control-label">菜单名称：</label>
                <div class="col-sm-10" style="width:300px;">
                    <input type="text" class="form-control" id="menu-name-id" placeholder="名称">
                </div>
            </div>
            <div class="form-group" id="parent-id">
                <label for="parent-id" class="col-sm-2 control-label">上级菜单：</label>
                <div class="col-sm-10" style="width:300px;">
                    <input type="text" class="form-control load-sys-menu" readonly="readonly" id="parentId" placeholder="上级菜单">
                </div>
            </div>
            <div class="form-group" id="markdown-id">
                <label for="file-name-id" class="col-sm-2 control-label">文档：</label>
                <div class="col-sm-10" style="width:150px;">
                    <select id="mrakdownId" class="form-control"></select>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-default btn-cancel">Cancel</button>
            <button type="button" class="btn btn-info pull-right btn-save">Save</button>
        </div>
        <!-- /.box-footer -->
    </form>
    <!-- zTree 对应的div -->
    <div class="layui-layer layui-layer-page layui-layer-molv layer-anim" id="menuLayer" type="page" times="2"
         showtime="0" contype="object"
         style="z-index:59891016; width: 300px; height: 450px; top: 100px; left: 500px; display:none">
        <div class="layui-layer-title" style="cursor: move;">选择菜单</div>
        <div class="layui-layer-content" style="height: 358px;">
            <div style="padding: 10px;" class="layui-layer-wrap">
                <ul id="menuTree" class="ztree"></ul>    <!-- 动态加载树 -->
            </div>
        </div>
        <span class="layui-layer-setwin"> <a
                class="layui-layer-ico layui-layer-close layui-layer-close1 btn-cancel"></a></span>
        <div class="layui-layer-btn layui-layer-btn-">
            <a class="layui-layer-btn0 btn-confirm">确定</a>
            <a class="layui-layer-btn1 btn-cancel">取消</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="bower_components/layer/layer.js"></script>
<script type="text/javascript">
    var zTree;
    var setting = {
        data: {
            simpleData: {
                enable: true,
                idKey: "menuId",  //节点数据中保存唯一标识的属性名称
                pIdKey: "parentId",  //节点数据中保存其父节点唯一标识的属性名称
                rootPId: null  //根节点id
            }//json 格式javascript对象
        }
    }//json 格式的javascript对象

    $(function () {
        doInitPageData();
        $("#mainContentId")
                .on("click", ".load-sys-menu", doLoadZtreeNodes);
        //ztree的确定(btn-confirm)和取消(btn-cancel)按钮上进行事件注册
        $("#menuLayer")
                .on("click", ".btn-confirm", doSetSelectNode)
                .on("click", ".btn-cancel", doHideTree);
        //表单保存和取消按钮事件注册
        $(".box-footer")
                .on("click", ".btn-save", doSaveOrUpdate)
                .on("click", ".btn-cancel", doCancel);

    });

    function doInitPageData() {
        var url = "markdown/doFindMarkdownListName"
        $.getJSON(url, function(result){
            if(result.state == 1){
                doInitPageMarkdownList(result.data);
            }else{
                alert(result.message);
            }
        });
        //假如是修改则初始化页面数据
        var rowData = $("#mainContentId").data("rowData");
        if(rowData){
            doInitEditFormData(rowData);
        }else{
            doChangePage(1);
        }
    }
    function doInitPageMarkdownList(data){
        var select = $("#mrakdownId");
        select.empty();
        for(var i in data){
            var rowData = $("#mainContentId").data("rowData");
            var selected ="";
            if(rowData){
                if(rowData.menuType == 2){
                    if(rowData.fileName === data[i].fileName){
                        selected = "selected='selected'";
                    }
                }
            }
            var option = "<option value='"+data[i].markdownId+"' "+selected+">"+data[i].fileName+"</option>";
            select.append(option);
        }
    }

    //初始化表单数据
    function doInitEditFormData(rowData) {
        $(".typeRadio input[value='" + rowData.menuType + "']").prop("checked", true);
        $("#menu-name-id").val(rowData.menuName);
        $("#parentId").val(rowData.parentName);
        $("#parentId").data("parentId", rowData.parentId);
        doChangePage(rowData.menuType);
    }

    //加载树菜单
    function doLoadZtreeNodes() {
        $("#menuLayer").css("display", "block");
        var url = "md_menu/doFindZtreeMenuNodes";
        $.getJSON(url, function (result) {
            if (result.state == 1) {
                zTree = $.fn.zTree.init($("#menuTree"), setting, result.data);
            } else {
                alert(result.message);
            }
        })
    }

    //设置选中的菜单节点
    function doSetSelectNode() {
        //1.获取选中的树节点(node)对象.
        var nodes = zTree.getSelectedNodes();
        if (nodes.length == 0) {
            doHideTree();
            return;
        }
        //2.将node数据填充到页面上级菜单对应的表单元素上
        //2.1 节点名字(表单中显示这个值)
        $("#parentId").val(nodes[0].name);
        //2.2 节点id (进行绑定,此值最后要存储到数据库)
        $("#parentId").data("parentId", nodes[0].id);
        //3.隐藏zTree对象
        doHideTree();
    }

    //隐藏zTree对象
    function doHideTree() {
        $("#menuLayer").css("display", "none");
    }

    function doChangePage(type) {
        if (type == 1) {
            $("#parent-id").css("display", "none");
            $("#markdown-id").css("display", "none");
        }
        if (type == 2) {
            $("#parent-id").css("display", "block");
            $("#markdown-id").css("display", "block");
        }
    }

    //保存或更新数据
    function doSaveOrUpdate() {
        var params = doGetEditFormData();
        var rowData = $("#mainContentId").data("rowData");
        if (rowData) params.menuId = rowData.menuId;
        var insertUrl = "md_menu/doAddMdMenu";
        var updateUrl = "md_menu/doUpdateMdMenu";
        var url = rowData ? updateUrl : insertUrl;
        console.log(params);
        $.post(url, params, function (result) {
            if (result.state == 1) {
                alert(result.message);
                doCancel();
            } else {
                alert(result.message);
            }
        });
    }

    function doGetEditFormData() {
        var params = {
            menuType : $(".typeRadio input[type='radio']:checked").val(),
            menuName : $("#menu-name-id").val()
        };
        if($(".typeRadio input[type='radio']:checked").val() == 2){
            params.parentId = $("#parentId").data("parentId") == null ? 0 : $("#parentId").data("parentId");
            params.markdownId = $("#mrakdownId").val();
        }else{
            params.parentId = 0;
            params.markdownId = 0;
        }
        return params;
    }

    function doCancel() {
        var url = "md_menu/doMdMenuListUI";
        $("#mainContentId").load(url, function () {
            $("#mainContentId").removeData();
        });
    }

</script>