<div class="row" style="float:left; width:80%;">
  <div class="col-xs-12">
    <!-- Box -->
    <div class="box">
      <!-- Box Header -->
	  <div class="box-header">
	    <h3 class="box-title">文档管理</h3>
	    <!-- Box Tools -->
        <div class="box-tools">
		  <div class="input-group input-group-sm" style="width: 100px;">
			<div class="input-group-btn">
			  <button type="button" class="btn btn-default btn-delete">删除</button>
		      <button type="button" class="btn btn-default btn-add">添加</button>
			  <button type="button" class="btn btn-default btn-update">修改</button>
			</div>
		  </div>
		</div>
		<!-- /.box-tools -->
	  </div>
	  <!-- /.box-header -->
	  <!-- Box Body -->
	  <div class="box-body table-responsive no-padding">
        <table id="menuTable" class="table table-hover text-center">
          <thead>
	        <tr>
		      <th data-field="selectItem" data-checkbox="true"></th>
	        </tr>
	      </thead>
	    </table>
      </div>
      <!-- /.box-body -->
    </div>
	<!-- /.box -->
  </div>
</div>
<div class="layui-layer-content" style="height:358px; float:right; width:20%;">
	<div style="padding: 10px;" class="layui-layer-wrap">
	  <ul id="menuTree" class="ztree"></ul>    <!-- 动态加载树 -->
	</div>
</div>
<script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="bower_components/layer/layer.js"></script>

<script type="text/javascript" src="bower_components/treegrid/jquery.treegrid.extension.js"></script>
<script type="text/javascript" src="bower_components/treegrid/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="bower_components/treegrid/tree.table.js"></script>
<script type="text/javascript">
/**
 * 初始化表格的列
 */
var columns = [
{
	field : 'selectItem',
	radio : true
},
{
	title : '编号',
	field : 'menuNum',
	valign : 'middle',
	sortable : true
},
{
	title : 'ID',
	field : 'markdownId',
	valign : 'middle',
	sortable : true
},
{
	title : '菜单名称',
	field : 'menuName',
	valign : 'middle',
	sortable : true,
	width : '23%'
},
{
	title : '上级菜单',
	field : 'parentName',
	valign : 'middle',
	sortable : true,
	width : '23%'
},
{
	title : '类型',
	field : 'menuType',
	valign : 'middle',
	sortable : true,
	width : '58px',
	formatter : function(item, index) {
		if(item.menuType == 1){
			return '<span class="label label-success">菜单</span>';
		}
		if(item.menuType == 2){
			return '<span class="label label-warning">文档</span>';
		}
	}
}, 
{
	title : '文件名称',
	field : 'fileName',
	valign : 'middle',
	sortable : true,
	width : '23%'
}];//格式来自官方demos -->treeGrid(jquery扩展的一个网格树插件)

var zTree; 
//初始化zTree时会用到
var setting = {
	data : {
		simpleData : {
			enable : true,
			idKey : "id",  //节点数据中保存唯一标识的属性名称
			pIdKey : "parentId",  //节点数据中保存其父节点唯一标识的属性名称
			rootPId : null  //根节点id
		}//json 格式javascript对象
	}
}//json 格式的javascript对象

$(function(){
	doGetObjects();
	doLoadZtreeNodes();
	$(".input-group-btn")
    	.on("click", ".btn-delete", doDeleteObject)
    	.on("click", ".btn-add,.btn-update", doLoadEditUI)
});
function doGetObjects(){
	var table = new TreeTable("menuTable", "md_menu/doFindMdMenuList", columns)
	table.init()//底层会发起ajax请求
}
function doLoadZtreeNodes(){
	  var url = "md_menu/doFindZtreeMenuNodes";
	  $.getJSON(url, function(result){
		  console.log(result.data);
		  if(result.state == 1){
			  zTree = $.fn.zTree.init($("#menuTree"), setting, result.data);
			  console.log(zTree);
		  }else{
			  alert(result.message);
		  }
	  })
}
//加载编辑页面
function doLoadEditUI(){
	var title;
	if($(this).hasClass("btn-add")){
		title="添加文档";
	}else{
		title="修改文档";
		var input = $("tbody input[type='radio']:checked");
		var tr = input.parents("tr");
		var rowData = tr.data("rowData");
		if(!rowData){
			alert("请先选择");
			return;
		}
		$("#mainContentId").data("rowData", rowData);
	}
	var url="md_menu/doMdMenuEditUI";
	$("#mainContentId").load(url,function(){
		$(".box-title").html(title);
	});
}









//获取选中记录的id值
function doGetCheckedId(){
	console.log("menuTable", $("#menuTable"));
	var selections = $("#menuTable").bootstrapTreeTable("getSelections");
	if(selections.length == 1){
		return selections[0].id;
	}
}

function doDeleteObject(){
	//1.获取选中的记录id
	var id=doGetCheckedId();
	//2.验证选中记录id的有效性
	if(!id){
		alert("请先选中");
		return;
	}
	//3.执行异步删除操作
	var url="menu/doDeleteObject.do";
	var params={"id":id}
	$.post(url,params,function(result){
		if(result.state==1){
			alert(result.message);
			//doGetObjects();
			doDeleteRowElement();//局部刷新
		}else{
			alert(result.message);
		}
	})
}
//删除选中行页面元素
function doDeleteRowElement(){
	//获取menuTable中tbody对象内部的input 类型为
	//radio并且选中的那个input对象
	var input=
	$(".treegrid-tbody input[type='radio']:checked");
	//var tr=input.parent().parent();
	//获取input对象祖先中的tr对象
	var tr=input.parents("tr");
	//移出当前行对象
    tr.remove();
}
//console.log();
//alert();
//debugger;
</script>