<div class="row">
    <div id="layout">
        <div style="margin-left:5%; margin-right:5%;">
            <div style="float:right; margin-right:10px;">
                <a onclick="doTreeState(1)">显示</a> | <a onclick="doTreeState(2)">隐藏</a>
            </div>
        </div>
        <div id="test-editormd-view">
            <div style="float:right; width:260px;">
                <div id="tree" class="ztree" style="background:#F5F5F5;" align="left"></div>
            </div>
            <textarea id="append-test" class="markdown-body" style="display:none;" th:text="${markdownContent}"></textarea>
            <a class="Topshow"><span class="glyphicon glyphicon-circle-arrow-up" style="font-size:30px;" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
<!-- ztree目录 -->
<script type="text/javascript" src="bower_components/ztree/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="bower_components/ztree/ztree_toc.min.js"></script>
<script type="text/javascript" src="bower_components/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="bower_components/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        var testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
        $('#tree').ztree_toc({
            is_auto_number: false,
            documment_selector: '.markdown-body',
            is_expand_all: true
        });
        $("#tree").css("left", "");
        $("#tree").css("top", "");
        <!-- 返回顶部开始 -->
        $(window).scroll(function(){
            if($(window).scrollTop() >= 200){
                $('.Topshow').fadeIn(1000); //1000指时间，淡入效果来显示
            }else{
                $('.Topshow').fadeOut(1000);//1000指时间，淡入效果来隐藏
            }
        });
        $('.Topshow').click(function(){
            $('html,body').animate({scrollTop: '0px'});//800滑动的速度
        });
        <!-- 返回顶部结束 -->
    });
    function doTreeState(type){
        if(type == 1){
            $("#tree").css("display","block");
        }else if(type == 2){
            $("#tree").css("display","none");
        }

    }
</script>
</body>
</html>